
@using (Html.BeginForm("Predict", "Prediction", FormMethod.Post, null))
{
    <br />
    <label>Program Name</label>
    @Html.DropDownList("programCode")
    <br />
    <label>Number of show times</label>
    @Html.DropDownList("timeFrames")
    <br />
    
    <input type="submit" name="Submit" id="Submit" value="Upload" />
}