<label>Program Code:</label>
<label>@ViewBag.programCode</label>
<br />
<label>Time Frames:</label>
<label>@ViewBag.timeFrames</label>
<br />
<label>Expected Result:</label>
<label>@ViewBag.expectedResult</label>
<br />
