@model TVHS.ViewModels.ViewModelProgram
<br />
<label>Program Code:</label>
<label>@Model.ProgramCode</label>
<br />
<label>Program Name:</label>
<label>@Model.Name</label>
<br />
<label>Number of show times:</label>
<label>@ViewBag.timeFrames</label>
<br />
<label>Expected Result:</label>
<label>@ViewBag.expectedResult  (items)</label>
<br />
